.container-fluid{
    background-color: rgb(235, 238, 212);
  }
  footer{
    background-color: rgb(123, 123, 123);
    
   
  }

.iconos-redes-sociales a {
width: 40px;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
padding: 2px;
margin: 10px;
border: 2px solid white;
border-radius: 50%;
transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
color: white;
font-size: 1.5rem;
transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
background-color: white;
border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
color: rgb(71, 105, 165);
}